<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-sm="10" size-md="6" size-xl="4" size-lg="4">
            <app-login-form (credentials)="onLogin($event)"></app-login-form>
            <ion-button expand="block"
                        fill="solid"
                        color="primary"
                        routerLink="/auth/register"
                        class="ion-margin-top">
                {{ 'login-page.register' | translate }}
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>
