<ion-content>

    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-menu-toggle menu="main-menu">
            <ion-button size="small">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-menu-toggle>
    </ion-fab>

    <ion-row class="ion-justify-content-center ion-no-padding height100vh">
        <ion-col size-lg="4" size-xl="4" size-md="6" size-sm="10" size-xs="12" class="ion-no-padding">
            <div *ngIf="options" class="map-size"
                 leaflet
                 [leafletOptions]="options"
                 (leafletMapReady)="onMapReady($event)"
            >
            </div>
        </ion-col>
    </ion-row>
</ion-content>
